.container-fluid{
    background-color: blue;
}
.d-flex{
    margin-right:400px !important;
}
.navbar-brand{
    margin-left: 300px;
    color: white;
    font-style: italic;
}
.nav-link{
    color: white;
    font-style: normal;
}
#drop1{
    background-color: white;
}
.contain{
    display: flex;
    background-color: white;
    padding-bottom: 60px;
}
button{
    background-color: white;
    border: none;
}
.dropdown {
    padding-right: 5%;
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
}