.collapse{
    justify-content: center;
}
.collapse1{
    justify-content: end;
}
.cart{
    padding-left: 20px;
}
.d-flex{
    padding-right: 50px;
}
.navbar{
    background-color: white !important;
}
body{
    background-color: bisque;
}
.block{
    display: flex;
    width: 1000px;
    height: 550px;
    margin-top: 25px;
    margin-left: 180px;
    margin-right: 150px;
    border: 3px solid palevioletred;
}
.block1{
    background-color: aquamarine;
    height: 544px;
    width: 65%;
    background: url("https://images.pexels.com/photos/7319299/pexels-photo-7319299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100% 500px;
}
.block2{
    background-color: white;
    height: 543px;
    width: 35%;
}
label{
    margin-top: 20px;
}
.signup{
    margin-left: 50px;
}
#signup{
    margin-top: 10px;
    color: palevioletred;
    margin-left: 70px;
}
.btnsign{
    margin-left: 0px;
    border-radius: 10px;
    width: 30%;
    background-color: palevioletred;
    color: white;
    font-weight: 3px;
    margin-top: 10px;
}
.name{
    width: 250px;

}
#back{
    padding-left: 60px;
}
#discount{
    padding-top: 340px;
    padding-left: 360px;
    font-size: 20px;
    font-weight: 10px;
    color: rgb(190, 16, 74);
    font-family:"Cookie",cursive;
}
