/* font import */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.website-title{
    text-decoration: none;
    color: #111111;
    font-family: 'Cookie',cursive !important; 
    font-size: 60px;
    font-weight: 7px;
    margin-left: 10px;
}
.fa-search{
    color: #111111;
}
.collapse{
    justify-content: center;
}
.collapse1{
    justify-content: end;
}
.nav-login-cart-wishlist{
    padding: 20px 20px 20px 20px;
}
.login-cart-wishlist-color{
    color: #111111;
}

.category-product-color{
    color: #111111;
}

#loginButton{
    text-decoration: none;
}

.navbar{
    background-color: bisque !important;
}

.categories{
    display: flex;
}
.inner-category{
  width: 50%;
  height: 600px;
  background: url('https://images.pexels.com/photos/1536619/pexels-photo-1536619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: 100% 700px;
  padding: 10px 10px 10px 10px;
  border: 5px solid white;
}
.sub-category{
width: 50%;
height: 600px;
}
.womenFashion{
    padding-top: 2%;
    padding-left: 0%;
    color: rgb(3, 3, 3);
}
#womenFashion{
    font-family:'Cookie',cursive;
    color: #111111;
    margin-bottom: 5px
}
#womenDescription{
    padding-top: 6px;
    padding-right: 35%;
}
#shopNow{
    font-weight:800;
    color: black;
}
.cards{
    display: flex;
}
.inner-card{
    width:50%;
    height: 300px;
}
#men{
    background: url('https://images.pexels.com/photos/10909251/pexels-photo-10909251.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 300px;
    border: 5px solid white;
}
#kids{
    background: url('https://images.pexels.com/photos/1620760/pexels-photo-1620760.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 120% 400px;
    border: 5px solid white;
}
#cosmetics{
    background: url('https://images.pexels.com/photos/3018845/pexels-photo-3018845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100%;
    border: 5px solid white;
}
#accessories{
    background: url('https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 400px;
    border: 5px solid white;

}
.nav-link{
    color: black;
}
.new-product{
    text-decoration: underline solid red;
    padding-left: 30px;
}
.item-list{
    display: flex;
    justify-content: center;
    padding-left: 80px;
}
.items{
    width: 25%;
    height: 500px;   
    padding-top: 30px;
}
.item-img{
    width: 90%;
}
.checked{
    color: orange;
}
.rating{
   text-align: center;
}
.project-jacket-img{
    width: 100%;
    height: 500px;
    background-color: aqua;
    background: url('https://images.pexels.com/photos/949590/pexels-photo-949590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 500px;

}
.project-jacket-link{
    text-align: center;
    padding-top: 12%;
}
.top-products{
    display: flex;
    padding-left: 130px;
    padding-top: 30px;
    padding-bottom: 0px;
}
.top-items{
    width: 35%;
    height: 500px;
    /* padding-left: 100px; */
    /* padding-top: 80px; */
}
.list-items{
    display: flex;
    padding-top: 30px;
}
h2{
    padding-top: 50px;
}
.bag-price{
    padding-left: 20px;
}
.discount-offer{
    text-align: center;
    width: 100%;
    height: 600px;
    background: url('https://images.pexels.com/photos/318236/pexels-photo-318236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size:100% 600px;
    justify-content: center;
    padding-top: 0px;
}
#discountOffer{
    font-family: 'Cookie',cursive; 
    font-weight: 1000; 
    font-size: 100px;
}
#discount50Percent{
    font-weight: 500; 
    font-size: 30px;
}
#discountShop{
    font-weight: 400;
    font-size: 20px;
    color: black;
}
.top-item-head{
    color: #111111;
}
#projectJacketDesign{
  font-family:'Cookie',cursive; 
  font-size: 100px; 
  color: white;  
}
#projectShop{
    text-decoration: none; 
    font-size: 30px; 
    color: rgb(247, 245, 245); 
    font-weight: 500;
}
.new-product-name{
    text-decoration: none; 
    color: black;
}
.new-product-name-price{
    font-weight: 600;
}
.sale{
    padding-top: 160px;
}
.option{
    width: 100%;
    /* height: 200px; */
}
.opt1{
    display: flex;
    padding-left: 50px;
}
.images-category{
    display: flex;
    padding-top: 70px;
}
.mid-img{
    width: 25%;
    border: #111111;
    height: 200px;
}
#img20{
    background: url('https://images.pexels.com/photos/4416763/pexels-photo-4416763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 105% 250px;
}
#img21{
    background: url('https://images.pexels.com/photos/277390/pexels-photo-277390.jpeg');
    background-repeat: no-repeat;
    background-size: 110% 250px;
}
#img22{
    background: url('https://images.pexels.com/photos/1493112/pexels-photo-1493112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 115%;
}
#img23{
    background: url('https://images.pexels.com/photos/93488/pexels-photo-93488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 110% 250px;
}
#img24{
    background: url('https://images.pexels.com/photos/8457630/pexels-photo-8457630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: 120% 250px;
}
.footer{
    display:flex;
    background-color: yellow;
    margin-top: 40px;
}
.footer-ashion{
    width: 33%;
    height: 300px;
    padding-top: 60px;
}
.about-ashion{
    padding-left: 60px;
    padding-top: 40px;
}
.fa-brands{
    padding-right: 20px;
}
#footerFashion{
    display: flex;
    justify-content: center;
}
.social-media-icon{
    padding-left: 11px;
    color: #111111;
}
.all-links{
    padding-top: 40px;
}
#allLinks{
    padding-right: 40px;
}
.sub-links{
text-decoration: none;
color: gray;
}
.last-footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: yellow;
}
#subscribeButton{
    background-color: red;
    color: white;
}
.bg-body-tertiary1{
    padding-top: 60px;
}
.mid-bar{
    width: 100%;
    height: 100px;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    
}
.m-bar{
    padding: 20px 20px 20px 20px;
}

/* Account.html Css  */


body {
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}


/* Login */

#loginHead{
    color: palevioletred;
}
.login-form{
    display: flex;
    margin: auto;
    background-color: white !important;
    width: 26%;
    height: 60%;
    justify-content: center;
    align-items: center;
    /* margin-left: 500px; */
    margin-top: 60px;
    text-align: center;
    border: 2px solid palevioletred;
    padding-right: 10px;
}
.email{
    width: 300px;
}
.pswrd{
    width: 300px;
    margin-top: 20px;
}
#rememberPswrd{
    margin-top: 20px;
    text-align: left !important;
}
.login-using-fb{
    margin-top: 0px;
    width: 300px;
    background-color: #3b5998;
}
.login-using-google{
    margin-top: 10px;
    width: 300px;
    background-color: #FF0000;
}
#loginUsingFb{
    color: white;
}
#loginUsingGoogle{
    color: white;
}
.register{
    margin-top: 7px;
}
#orDivider{
    font-weight: 10px !important;
    margin-top: 20px;
}
.inner-container{
   margin-left: 10px;
   text-align: left;
}
.forgot-pswrd{
    padding-left: 60px;
    text-decoration: none;
    color: gray;
}
#signup{
    color: blue;
}
#loginButtonLoginPage{
    background-color: bisque;
    width: 300px;
    border: 2px solid palevioletred;
}


/* Kids Fashion */

.contain{
    display: flex;
    background-color: white;
    padding-bottom: 60px;
    padding-left: 10px;
    justify-content: center;
    height: 10px;
}
button{
    background-color: white;
    border: none;
}
.dropdown {
    padding-right: 2%;
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
    width: 20%;
}
.col img{
    width: 300px;
}
.col{
    border: 10px;
}
.col a{
    text-decoration: none;
    color: black;
}

/* Signup.html */

.signup-form-img{
    display: flex;
    width: 1000px;
    height: 550px;
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 150px;
    border: 3px solid palevioletred;
}
.signup-discount{
    background-color: aquamarine;
    height: 544px;
    width: 65%;
    background-size: 100% 500px;
}
.signup-img {
background-image: url("https://images.pexels.com/photos/7319299/pexels-photo-7319299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.signup-img{
    background-color: white;
    height: 543px;
    /* width: 35%; */
}
label{
    margin-top: 20px;
}
.signup{
    margin-left: 50px;
}
#signup{
    margin-top: 10px;
    color: palevioletred;
    margin-left: 70px;
}
.btnsign{
    margin-left: 0px;
    border-radius: 10px;
    width: 30%;
    background-color: palevioletred;
    color: white;
    font-weight: 3px;
    margin-top: 10px;
}
.name{
    width: 250px;

}
#backToLogin{
    padding-left: 70px;
    color: palevioletred; 
    text-decoration: none;
}
#termsConditions{
    font-size: smaller !important;
}

#discountSignup{
    padding-top: 340px;
    padding-left: 350px;
    font-size: 20px;
    font-weight: 10px;
    color: rgb(190, 16, 74);
    font-family:"Cookie",cursive;
}


/* Men Page */

#filter{
    font-weight: 500; 
    font-size: 20px;
}
.sorting{
    padding-left: 5px;
    color: blue;
    text-decoration: underline;
}
.example{
    margin-right: 1opx;
}

.side-bar{
    display: flex;
    flex-direction: row;
}
#sidePane{
    padding-right: 20px;
    width: 30%;
    height: 1000px;
    background-color: white;
    padding-bottom: 0px;
    border: 2px solid bisque;
}
.men-wear{
    display: flex;
    margin-left: 30px;
}
.men-apparel{
    width: 90%;
    padding: 30px 20px 20px 20px;
    
}
.apparel-description{
    text-align: center;
}
.men-apparel-price{
    font-size: small; 
    color: grey;
}
.men-apparel-discount{
    font-size: small; 
    color: brown;
}
.inner-option{
    color: #111111;
    text-decoration: none;
    padding-left: 5px;
}
img{
    height: 500px;
    width: 250px;
}